@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Revalia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/revalia/v7/WwkexPimBE2-4ZPEeVo.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body .row {
  align-items: center;
}
header {
  background-color: #EEEFF1;
}
header nav {
  display: inline-flex;
}
header nav .navbar-brand {
  font-size: 3.6em;
  font-family: 'Revalia', cursive;
  color: #34547A !important;
}
header nav .navbar-collapse {
  justify-content: flex-end;
}
header nav .navbar-collapse .navbar-nav {
  justify-content: space-between;
}
header nav .navbar-collapse .navbar-nav .nav-item {
  text-transform: uppercase;
  font-size: 1rem;
  color: black ;
  font-weight: 600;
  margin-right: 40px;
}
header nav .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
  margin-right: 0px;
}
header nav .navbar-collapse .navbar-nav .nav-item.active,
header nav .navbar-collapse .navbar-nav .nav-item:hover {
  color: #34547A !important;
}
section {
  padding: 50px 0;
}
.container {
  width: 1920px;
}
#first-screen {
  padding: 150px 0;
  background-color: #EEEFF1;
}
#first-screen img {
  width: 357px;
}
#first-screen .text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}
#first-screen .text-block .description {
  color: #727272;
  font-size: 1rem;
}
#first-screen .text-block .btn {
  color: whitesmoke;
  background-color: #34547A;
  padding: 10px 25px;
  border-radius: 0;
  text-transform: uppercase;
  max-width: 40%;
}
#first-screen .text-block .btn:hover {
  background-color: whitesmoke;
  color: #34547A;
  border: 1px solid #34547A;
}
#about-me {
  padding: 100px 0;
}
#about-me .row {
  justify-content: center;
}
#about-me .col {
  text-align: center;
}
#numbers {
  min-height: 250px;
  background-color: #34547A;
  display: flex;
}
#numbers .container {
  display: flex;
}
#numbers .row {
  justify-content: space-around;
}
#numbers .row img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
#numbers .row .col {
  display: inline-flex;
  align-items: center;
}
#numbers .row span {
  color: whitesmoke;
}
#numbers .row span.number {
  font-weight: 500;
  font-size: 1.5em;
}
#skills {
  padding: 100px 0;
}
#skills h3 {
  margin-bottom: 40px;
}
#skills div[class^=skill_] {
  margin-bottom: 20px;
}
#skills div[class^=skill_] .label {
  color: #727272;
  font-size: 1rem;
}
#skills div[class^=skill_] div[class^=line_] {
  height: 4px;
  width: 450px;
  background-color: #c4c4c4;
}
#skills div[class^=skill_] div[class^=line_] .procesed {
  height: 4px;
  background-color: #34547A;
}
#skills div[class^=skill_] .line_1 .procesed {
  width: 400px;
}
#skills div[class^=skill_] .line_2 .procesed {
  width: 370px;
}
#skills div[class^=skill_] .line_3 .procesed {
  width: 250px;
}
#video {
  max-height: 1004px;
  background-color: #EEEFF1;
  padding: 100px 0;
}
#video .row {
  justify-content: center;
}
#video .text_block {
  text-align: center;
  margin-bottom: 50px;
}
#video .col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
#video .col-12 iframe {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/img/video_bg.png);
  background-size: contain;
}
#video .col-12 .play-btn {
  position: absolute;
  background-image: url(/img/video_btn_play.svg);
  width: 100px;
  height: 100px;
}
#projects .col-3 {
  margin: 0;
  padding: 0;
  height: 480px;
  width: 100%;
  background-size: cover;
}
#projects .col-3 .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #34547A;
}
#projects .col-3 .overlay .overlay-icon {
  position: absolute;
  background-image: url(/img/projects_hover_eye.svg);
  width: 100px;
  height: 100px;
}
#projects .col-3:hover {
  cursor: pointer;
}
#projects .col-3:hover .overlay {
  opacity: 0.8;
}
#projects .row:nth-child(n) .col-3:nth-child(n) {
  background-color: #727272;
  background-image: url(/img/projects_1.png);
}
#projects .row:nth-child(n) .col-3:nth-child(2n) {
  background-color: #c4c4c4;
  background-image: url(/img/projects_2.png);
}
#projects .row:nth-child(2n) .col-3:nth-child(n) {
  background-color: #c4c4c4;
  background-image: url(/img/projects_2.png);
}
#projects .row:nth-child(2n) .col-3:nth-child(2n) {
  background-color: #727272;
  background-image: url(/img/projects_1.png);
}
